.flip{
  transform: scaleY(-1) scaleX(-1); 
}
.card{
  width:150px;
  height: 350px;
  float: left;
}
.celtic{
  width:100px;
  height: 200px;
  float: left;
}
.navbar{
  /* color: whitesmoke; */
  background-color: darkred;
}
.CardTitle{
  color:  rgb(29, 25, 13)
}

.base{
  z-index:1;
  position:relative;
}
.cross{
  z-index:2;
  position:relative;
  top:-1px;
  left:-200px;
  transform: rotate(90deg);
}

.int{
  clear: left;
}
.back{
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.themed-container{
  margin: 10px;
  text-align: center;
}

.suit{
  color: rgb(255, 213, 124);
  background-color: rgb(29, 25, 13);
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  padding: 5px;
  margin: 5px;
  width: 95%;
}
body{
  /* background-color: bisque; */
  background-image: url("Canyon.jpg");
  background-size: cover;
}
.right{
  float: right;
  clear: right;
  margin-right: 15px;
}
.title{
  text-align: center;
  font-size: 58px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: blue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.center{
  text-align: center;
}
.xenter{
  align-content: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}
.left{
  margin-left: 4%;
  float: left;
}
.blurb{
  font-size: 18px;
  color: rgb(255, 225, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  /* text-shadow: 0 0 3px #FF0000; */
  text-shadow: 0 0 3px rgb(143, 28, 28);

}
.list{
  font-size: 18px;
  color: rgb(255, 225, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  text-decoration-line: none;
  text-shadow: 0 0 3px rgb(143, 28, 28);
}
.option{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  
}
option{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}