.flip{
  transform: scaleY(-1);
 
}
.card{
  width:150px;
  height: 350px;
  float: left;
}
.NavLink{
  background-color: aqua;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  padding: 5px;
  margin: 5px;
}
.base{
  z-index:1;
  position:relative;
}
.cross{
  z-index:2;
  position:relative;
  top:-1px;
  left:-200px;
  transform: rotate(90deg);
}
.future{
  left: -300;
}

.int{
  clear: left;
}

.suit{
  color: white;
  background-color: violet;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  padding: 5px;
  margin: 5px;
}
body{
  background-color: bisque;
}

.title{
  color: blue;
}